﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Assignment One For ASP.NET">
    <meta name="keywords" content="Mindfire Solutions,Asp.net,MVC,Assignment One">
    <meta name="author" content="Mindfire Solutions">
    <title>NotFound</title>
    @Styles.Render("~/Bundles/ErrorStyleBundle")
</head>
<body>
    <div class="error-message-box"> 
        <div class="error-message">
            <h1>Sorry Page Not Found !</h1>
            @Html.ActionLink("Back To Home", "Index", "Home", null, new { @class = "custom-link" })
        </div>
    </div>
</body>
</html>
