﻿.model-box
{
    flex: 0 0 30%;
    width: 30%;
    margin-top: 10%;
    background-color: #FFFFFF;
    padding: 2%;
    border-radius: 5px;
}
.model-box .header
{
    display: flex;
    align-items: center;
}
.model-box .header .flex-column-heading
{
    flex: 3;
    color: #5D6D7E;
}
.model-box .header .flex-column-controller
{
    flex: 1;
    text-align: right;
}
.model-close
{
    color: #A93226;
    font-weight: bolder;
    cursor: pointer;
}
.model-box .body
{
    padding: 3%;
    display: flex;
    flex-direction: column;
} 
.model-box .body .flex-column
{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-top: 2%;
    padding-bottom: 2%;
}
.model-box .body .flex-column .flex-row
{
    flex: 1;
}
.model-box .header strong
{
    float: right;
}
.update-input-controller
{
    width: 90%;
}
.update-button
{
    background-color: #2E86C1;
    color: white;
    border: none;
    padding: 2%;
    font-weight: bolder;
    border-radius: 3px;
    box-shadow: 2px 2px #A9CCE3;
}
.update-button:hover
{
    box-shadow: none;
}

/* Inputs */

.update-input-controller
{
    padding: 1%;
    border: 2px solid #5D6D7E;
    border-radius: 5px;
    outline: none;
}

/* Label */

.update-input-label
{
    font-weight: bolder;
    color: #34495E;
}

.updateActionStatus
{
    color: #1F618D;
}

/* Custom Validation Messages */

#userUpdateForm .error
{
    font-weight: bolder;
    color: #CB4335;
}

@media screen and (max-width: 500px)
{
    .model-box
    {
        width: 90%;
    }
}
