﻿@model UserRegistrationPortal.Models.UserViewModels
@using UserRegistrationPortal.CustomHelpers
@using UserRegistrationPortal.Models
@{
    ViewBag.Title = "Index";
    IDictionary<string, string> links = new Dictionary<string, string>();
    if (Model.UserRole.RoleType.Equals("admin"))
    {
        links.Add("Dashboard", "Admin/AllRecords");
    }
    links.Add("Home", "Home/");
    links.Add("Logout", "Account/Logout");
    ViewBag.Links = links;
}
@Styles.Render("~/Bundles/UserStyleBundle")
<div class="wrapper">
    <div class="user-details">
        <div class="item-group">
            <div class="setting-icon-holder">
                <strong class="setting-icon" id="settings">Setting</strong>
            </div>
            <div class="user-profile-image-holder">
                @Html.ImageRenderer(new HtmlAttribute { Width = "100", Height = "100", Src = Url.Content(Model.Image) , Css = "user-profile-image" })
            </div>
        </div>
        <div class="item-group">
            <div class="item-label">First Name</div>
            <div class="item-text">
                @Model.FirstName
            </div>
        </div>
        <div class="item-group">
            <div class="item-label">Last Name</div>
            <div class="item-text">
                @Model.LastName
            </div>
        </div>
        <div class="item-group">
            <div class="item-label">Email</div>
            <div class="item-text">
                @Model.Email
            </div>
        </div>
        <div class="item-group">
            <div class="item-label">Address</div>
            <div class="item-text">
                @Model.Address
            </div>
        </div>
        <div class="item-group">
            <div class="item-label">Contact</div>
            <div class="item-text">
                @foreach (Contact contact in Model.Contact)
                {
                    <div class="contact-list-item">
                        <div class="contact-type">
                            <strong>@contact.ContactType.ContactTypeText</strong>
                        </div>
                        <div class="contact-number">
                            @contact.ContactNumber
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!-- Model Pop Up To Edit User Information -->

<div class="model" id="updateModel">
    <div class="model-container">
        <div class="model-box">
            <div class="header">
                <div class="flex-column-heading">
                    <h1>Update Details</h1>
                </div>
                <div class="flex-column-controller">
                    <strong id="closeModel" class="model-close">Close</strong>
                </div>
            </div>
            <form id="userUpdateForm" class="user-update-form">
                <!-- Adding AntiForgeryToken -->
                @Html.AntiForgeryToken()
                <div class="body">
                    <div class="flex-column">
                        <div class="flex-row">
                            <label class="update-input-label">First Name</label>
                        </div>
                        <div class="flex-row">
                            <input type="text" name="firstName" value="@Model.FirstName" id="firstName" class="update-input-controller" />
                        </div>
                    </div>
                    <div class="flex-column">
                        <div class="flex-row">
                            <label class="update-input-label">Last Name</label>
                        </div>
                        <div class="flex-row">
                            <input type="text" name="lastName" value="@Model.LastName" id="lastName" class="update-input-controller" />
                        </div>
                    </div>
                    <div class="flex-column">
                        <div class="flex-row">
                            <label class="update-input-label">Address</label>
                        </div>
                        <div class="flex-row">
                            <textarea name="address" id="address" class="update-input-controller">@Model.Address</textarea>
                        </div>
                    </div>
                    <div class="flex-column">
                        <div class="flex-row">
                            <input type="submit" name="update" id="update" value="Update" class="update-button" />
                        </div>
                    </div>
                    <div class="flex-column">
                        <div class="flex-row">
                            <strong id="updateStatus" class="updateActionStatus"></strong>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Model Pop Up End-->

@Scripts.Render("~/Bundles/UserModelPopUp")