﻿@using UserRegistrationPortal.Models;
@{
    ViewBag.Title = "AllRecords";
}
@{
    ViewBag.Title = "Index";
    IDictionary<string, string> links = new Dictionary<string, string>();
    links.Add("Home", "Home/");
    links.Add("Info", "User/");
    links.Add("Logout", "Account/Logout");
    ViewBag.Links = links;
}
@Styles.Render("~/Bundle/AdminStyleBundle")
<div class="data-title">
    <h2>All User Records</h2>
</div>

<!-- Data View -->

<div class="data-view">
    <table class="data-view-table">
            <thead>
                <tr>
                    <td>Sl.No</td>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Email</td>
                    <td>Edit</td>
                    <td>View</td>
                    <td>Delete</td>
                </tr>
            </thead>
        <tbody>
            @{
                int index = 1;
            }
            @foreach (UserViewModels user in ViewBag.AllUsers)
            {
                <tr>
                    <td>@index</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td><strong data-userId="@user.UserId" class="editButton">Edit</strong></td>
                    <td><strong data-userId="@user.UserId" class="viewButton">View</strong></td>
                    <td><strong data-userId="@user.UserId" class="deleteButton">Delete</strong></td>
                </tr>
                index++;
            }
        </tbody>
    </table>
</div>

<!-- View Model Pop Up -->

<div class="model model-view" id="modelView">
    <div class="model-container">
        <div class="user-details-view-box">
            <div class="flex-column">
                <div class="model-controller">
                    <strong id="closeViewModelButton">Close</strong>
                </div>
                <div class="image-holder">
                    <img src="" id="userImageView" width="100" height="100"/>                      
                </div>
            </div>
            <div class="flex-column">
                <div class="flex-row-label">
                    <label>First Name</label>
                </div>
                <div class="flex-row-data">
                    <strong id="firstNameView"></strong>
                </div>
            </div>
            <div class="flex-column">
                <div class="flex-row-label">
                    <label>Last Name</label>
                </div>
                <div class="flex-row-data">
                    <strong id="lastNameView"></strong>
                </div>
            </div>
            <div class="flex-column">
                <div class="flex-row-label">
                    <label>Email</label>
                </div>
                <div class="flex-row-data">
                    <strong id="emailView"></strong>
                </div>
            </div>
            <div class="flex-column">
                <div class="flex-row-label">Address</div>
                <div class="flex-row-data">
                    <strong id="addressView"></strong>
                </div>
            </div>
            <div class="flex-column">
                <div class="flex-row-label">Contacts</div>
                <div class="flex-row-data">
                    <ul id="contactList"></ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Edit Model Pop Up -->

<div class="model model-edit">
    <div class="model-container">
        <div class="user-details-edit-box">
            <div class="header">
                <div class="flex-column-heading">
                    <h2>Update Details</h2>
                </div>
                <div class="flex-column-controller">
                    <strong id="closeEditModelButton" class="model-close">Close</strong>
                </div>
            </div>
            <form id="userUpdateForm">
                <!-- Added AntiForgeryToken -->
                @Html.AntiForgeryToken()
                <div class="body">
                    <div class="flex-column">
                        <div class="flex-row">
                            <label class="update-input-controller-label">First Name</label>
                        </div>
                        <div class="flex-row">
                            <input type="text" id="firstName" name="firstName" class="update-input-controller" />
                        </div>
                    </div>
                    <div class="flex-column">
                        <div class="flex-row">
                            <label class="update-input-controller-label">Last Name</label>
                        </div>
                        <div class="flex-row">
                            <input type="text" id="lastName" name="lastName" class="update-input-controller" />
                        </div>
                    </div>
                    <div class="flex-column">
                        <div class="flex-row">
                            <label class="update-input-controller-label">Address</label>
                        </div>
                        <div class="flex-row">
                            <textarea id="address" name="address" class="update-input-controller"></textarea>
                        </div>
                    </div>
                    <div class="flex-column">
                        <button id="updateButton" class="update-button">Update</button>
                    </div>
                    <div class="flex-column">
                        <strong class="update-status" id="updateStatus"></strong>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@Scripts.Render("~/Bundles/AllRecords")

