﻿.data-title
{
    display:block;
    text-align: center;
    color: #5D6D7E;
}
.data-view
{
    width: 96%;
    padding: 2%;
}
.data-view-table
{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
.data-view-table tr
{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.data-view-table tr:nth-child(even)
{
    background-color: #F2F3F4;
}
.data-view-table tr td
{
    padding-top: 1%;
    padding-bottom: 1%;
}
.data-view-table thead
{
    font-weight: bolder;
    color: white;
    background-color: #2C3E50;
}
.data-view-table tbody
{
    font-weight: bolder;
    color: #5D6D7E;
}

/* Button Styles */

.editButton
{
    color: #34495E;
    cursor: pointer;
}
.viewButton
{
    color: #117A65;
    cursor: pointer;
}
.deleteButton
{
    color: #922B21;
    cursor: pointer;
}

@media only screen and (max-width: 500px)
{
    table
    {
        font-size: 10px;
    }
}