﻿/* User Details Card */

.user-details-edit-box
{
    flex: 0 0 30%;
    background-color: #FFFFFF;
    padding: 2%;
    border-radius: 5px;
    display:flex;
    flex-direction:column;
}

/* User Details Card Body */

.user-details-edit-box .body
{
    padding: 3%;
    display: flex;
    flex-direction: column;
} 
.user-details-edit-box .body .flex-column
{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-top: 2%;
    padding-bottom: 2%;
}
.user-details-edit-box .body .flex-column .flex-row
{
    flex: 1;
}

/* User Details Card Header */

.user-details-edit-box .header
{
    display: flex;
    align-items: center;
}
.user-details-edit-box .header .flex-column-heading
{
    flex: 3;
    color: #5D6D7E;
}
.user-details-edit-box .header .flex-column-controller
{
    flex: 1;
    text-align: right;
}

/* Labels */

.update-input-controller-label
{
    font-weight: bolder;
    color: #5D6D7E;
}

/* Inputs */

.update-input-controller
{
    padding: 1%;
    border: 2px solid #5D6D7E;
    border-radius: 5px;
    outline: none;
    width: 90%;
}

/* Model pop-up close button */

.model-close
{
    color: #E74C3C;
    font-weight: bolder;
    cursor: pointer;
}

/* Model pop-up update button */

.update-button
{
    background-color: #2E86C1;
    color: white;
    border: none;
    padding: 2%;
    font-weight: bolder;
    border-radius: 3px;
    width: 20%;
    box-shadow: 2px 2px #34495E;
}

.update-button:hover
{
    box-shadow: none;
}

.update-status
{
    color: #2980B9;
}

/* Custom Validation Messages */

#userUpdateForm .error
{
    font-weight: bolder;
    color: #CB4335;
}

/* Media Queries */

@media only screen and (max-width:740px)  
{
    .user-details-edit-box
    {
        flex: 0 0 60%;
    }

}

@media only screen and (max-width:600px)  
{
    .user-details-edit-box
    {
        flex: 0 0 80%;
    }

}

@media only screen and (max-width:500px)  
{
    .user-details-edit-box
    {
        flex: 0 0 90%;
    }

}