﻿.user-details-view-box
{
    flex: 0 0 20%;
    background-color: #FFFFFF;
    padding: 2%;
    border-radius: 5px;
    display:flex;
    flex-direction:column;
}
.user-details-view-box .flex-column
{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}
.user-details-view-box .flex-column .flex-row-label
{
    flex: 1;
    font-weight:bolder;
    color: #D35400;
}
.user-details-view-box .flex-column .flex-row-data
{
    flex: 2;
    color: #5D6D7E;
}

/*  Contact List */

.user-details-view-box .flex-column .flex-row-data ul
{
    margin:0;
    font-weight: bolder;
}
.user-details-view-box .flex-column .flex-row-data ul li small
{
    text-transform:capitalize;
}

/* User profile image */

.user-details-view-box .flex-column .image-holder
{
    flex: 1;
    text-align: center;
}
.user-details-view-box .flex-column .image-holder img
{
   border-radius: 50%;
}

.user-details-view-box .flex-column .model-controller
{
    flex: 1;
    text-align: right;
    color: #C0392B;
}
.user-details-view-box .flex-column .model-controller strong
{
    cursor: pointer;
}

/* Media Queries */

@media only screen and (max-width:600px)  
{
    .user-details-view-box
    {
        flex: 0 0 80%;
    }

}

@media only screen and (max-width:500px)  
{
    .user-details-view-box
    {
        flex: 0 0 90%;
    }

}