﻿.model
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    margin: 0;
    box-sizing: border-box;
    object-fit: contain;
    background-color: rgba(0, 0, 0, 0.5);
}
.model-container
{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}