﻿@model UserRegistrationPortal.Models.LoginViewModels
@{
    ViewBag.Title = "Login";
    IDictionary<string, string> links = new Dictionary<string, string>();
    links.Add("Home", "Home/");
    links.Add("Register", "Account/Register");
    ViewBag.Links = links;
}
@Styles.Render("~/Bundles/LoginStyleBundle")
<div class="wrapper">
    <div class="form-wrapper">
        <form method="POST" action="@Url.Action("Login","Account")">
            <!-- Adding AntiForgeryToken -->
            @Html.AntiForgeryToken()
            <div class="form-column">
                <h2>Login</h2>
            </div>
            <div class="form-column">
                <div>
                    <label for="email">Email</label>
                </div>
                <div>
                    <input type="text" name="email" id="email" class="input-control" placeholder="Email"/>
                </div>
            </div>
            <div class="form-column">
                <div>
                    <label for="password">Password</label>
                </div>
                <div>
                    <input type="password" name="password" id="password" class="input-control" placeholder="Password"/>
                </div>
            </div>
            <div class="form-column">
                <input type="submit" name="save" value="Login" class="login-button"/>
            </div>
            <div>
                <div>
                    <strong>@ViewBag.status</strong>
                </div>
            </div>
        </form>
    </div>
</div>